.game {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
}

.item {
    width: 100px;
    height: 100px;
}

.title-game {
    text-align: center;
    width: 300px;
}

.turn {
    color: white;
}

.win {
    color: greenyellow;
}

.item0 {
    border-bottom: 1px solid white;
}

.item1 {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

.item2 {
    border-bottom: 1px solid white;
}

.item4 {
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.item6 {
    border-top: 1px solid white;
}
.item7 {
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.item8 {
    border-top: 1px solid white;
}

.reset-button {
    margin-top: 20px;
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 60px;
    color: white;
}